<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript">
window.onload = function() {
	// setup the button click
	document.getElementById("theButton").onclick = function() {
	    console.log("clicking work");
		doWork()
	};
}

function doWork() {
	// ajax the JSON to the server

	try {
	console.log("doing work", cars);

	$.get("receiver", function(){
	    console.log("GET called to receiver")
	});
	} catch(err) {
	console.log(err);
	}
	// stop link reloading the page
 event.preventDefault();
}
</script>

<a href="" id="theButton">Click Me</a>
This will retrieve data using AJAX from Python:<br><br>
The request called was {{requestCalled}}.
<br>
<br>
There were <{{numOfPairs}}> coordinate pairs received from the user. They are:
<br>
<br>
{{coordinates}}
