<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript">
// setup some JSON to use
const cars = [
	{ "make":"Porsche", "model":"911S" },
	{ "make":"Mercedes-Benz", "model":"220SE" },
	{ "make":"Jaguar","model": "Mark VII" }
	];
const jaycars = JSON.stringify(cars);
console.log(typeof(jaycars));
window.onload = function() {
	// setup the button click
	document.getElementById("theButton").onclick = function() {
	    console.log("clicking work");
		doWork()
	};
}

function doWork() {
	// ajax the JSON to the server

	try {
	console.log("doing work", cars);

	$.post("receiver", jaycars, function(){
	});
	} catch(err) {
	console.log(err);
	}
	// stop link reloading the page
 event.preventDefault();
}
</script>
This will send data using AJAX to Python:<br /><br />

{{a}}
{{b}}
<a href="" id="theButton">Click Me</a>